
/*------------------------------------*\
             HOME-PAGE
\*------------------------------------*/



/* -------NAVIGATION BAR-------*/
.navigation-bar h3 {
    color: var(--main-bgcolor);
    font-size: 2.3rem;
    font-weight: 600;
}

.nav-links a {
    color: var(--main-bgcolor);
    text-decoration: none;
    font-size: 1.7rem;
    margin: auto 7px;
     
}

.nav-links ul li{
    display: inline-block; 
}

.logo {
    margin-left: 10px;
}

.nav-links ul li::after {
  content: '';
  width: 0;
  height: 3px;
  background: rgba(222, 214, 218, 0.8);
  display: block;
  margin: auto;
  transition: 0.5s; 
}

.nav-links ul li:hover::after {
    width: 90%;
    transition: 1s;
}

.fa-bars {
    background: white;
    font-size: 1.5rem;
}
 
.fa  {
    display: none!important;
}

/* -------TITLES-------*/

.titles h1 {
    color:floralwhite;
    font-size:  4.2rem;
    font-weight: 600;
}

/* -------FOOTER-------*/

.footer p {
    color:  var(--main-bgcolor);
    font-weight: 600;
    font-size: 13px;
}
/*------------------------------------*\
        CONTACTATI-NE PAGE
\*------------------------------------*/
.contact-text h1 {
    margin: 1rem;
    font-weight: 600;
    font-size: 22px;
    
 }

 .contact-text p {
    font-weight: 600;
    font-size: 22px;
    
 }

 .contact-text h2 {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
 }

 .contact-links {
    text-decoration: none;
    color: black;
 }


/*------------------------------------*\
             ACASA-PAGE
\*------------------------------------*/

body {
    background-color: black;
}
.acasa-main h1 {
    text-align: center;
    font-size: 35px;
    color: var(--main-bgcolor);
    margin-top: 18px;
}

.acasa-main {
    width: 100%;
    background-color: black;
    height: 100vh;
}

/*------------------------------------*\
  STAMPILE PAGE
\*------------------------------------*/

.text-stampile h1 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 29px;
    font-weight: 600;
}

.text-stampile h2 {
    text-align: center;
    line-height: 1.6rem;
    font-size: 20px;
}

.stampile-numar {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.oferta-stampile h1 {
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    margin-bottom: 1.5rem;
 }

 .stampila-poza {
    height: 190px;
 }

 .poza-R30 {
    margin-top: 2rem;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 /*------------------------------------*\
  GRAVARI PAGE
\*------------------------------------*/

 .text-gravari {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    line-height: 1.5rem;
 }

 .text-gravari h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    font-size: 27px;
 }

 .text-gravari h2 {
    font-size: 21.5px;
    margin-bottom: 1.25rem;
 }

 .text-gravari h3 {
    font-size: 19px;
 }

 .buton-foto {
    margin-top: 2rem;
    height: 30px;
    width: 200px;
    text-align: center;
    color: floralwhite;
    background-color: black;
    font-family: 'Poppins';
    border-radius: 3px;
 }

 .button-wrapper {
    display: flex;
    justify-content: center;
 }

/*------------------------------------*\
  AUTOCOLANTE PAGE
\*------------------------------------*/

.autocolante-text h1 {
    font-size: 23px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.autocolante-text h2 {
    font-size: 17px;
}

.autocolante-text {
    width: 90%;
    margin: auto;
    line-height: 1.4rem;
}










