 /*------------------------------------*\
   HOME-PAGE
\*------------------------------------*/


.main1 {
    width: 100%;
    height: 94vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(assets/COLOP_RANGE.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.burger div{
    width: 25px;
    height: 3px;
    background: var(--main-bgcolor);
    margin: 5px;
}

.burger {
    display: none;
}
 

.navigation-bar {
    background:  black;
    display: flex;
    justify-content: space-between;
    height: 6vh;
    align-items: center;
}

.titles {
     width: 100%;
     display: flex;
     height: 88vh;
     align-items: center;
    justify-content: center;
}

.footer {
     background-color: black;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 }

/*------------------------------------*\
  CONTACTATI-NE PAGE
\*------------------------------------*/

 .div-one {
    height: 94vh;
    background-color: white;
 }

 .contact-text {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .contact-links-div {
    line-height: 32px;
    text-align: center;
 }

 .map { 
     display: flex;
     align-items: center;
     justify-content: center;
    width: 100%;
    height: 60%;
 }

 iframe {
    width: 100%;
    height: 85%;
 }
 
 /*------------------------------------*\
  STAMPILE PAGE
\*------------------------------------*/

.text-stampile {
    margin-top: 2rem;
}

 .oferta-stampile {
    margin-top: 2rem;
    text-align: center;
    line-height: 1.5rem;
    font-size: 20px;
 }

 



















