/* ====  HOME PAGE  ==== */ 

@media(max-width: 500px) {
    .nav-links ul li {
       display: block;
      margin-bottom: 1.5rem;
      line-height: 4.5rem;
    }

    .nav-links {
      position: absolute;
      right: 0px;
      height: 88vh;
      background-color: black;
      top: 6vh;
      display: flex;
      flex-direction: column;
      width: 50%;
      align-items: center;
      transform: translateX(0%);
      transition: transform 0.9s ease-in;
    }

    body {
        overflow-x: hidden;
    }

    .nav-links ul li a {
      color: var(--main-bgcolor);
       font-size: 1.4rem;
    }

    .nav-active {
        transform: translateX(100%);
    }
       
    .burger {
        display: block;
        cursor: pointer;
    }  

    .navigation-bar {
        background-color: black;
    }
  }
     
  
   
  @media(max-width:1200px) {
      .navigation-bar h3 {
          font-size: 1.5rem;
      }
      .nav-links a {
          font-size: 1.1rem;
          margin: 2.5px;
      }
      .titles h1 {
          font-size: 2.9rem;
      }
  }
  
  @media(max-width:800px) {
      .navigation-bar h3 {
          font-size: 1.2rem;
      }
      .nav-links a {
          font-size: 0.8rem;
          margin: 1.5px;
      }
      .titles h1 {
          font-size: 2rem;
      }
      .nav-links ul li::after {
          height: 2px;
      }
  }
  
  
  @media(max-width:570px) {
      .navigation-bar h3 {
          font-size: 1.20rem;
      }
      .nav-links a {
          font-size: 0.65rem;
          margin: .5px;
      }
      .titles h1 {
          font-size: 2.3rem;
      }

      .footer p {
          font-size: 9.4px;
      }
       
  }
  
  @media(max-width: 340px) {
      .nav-links ul li a {
          font-size: 1rem;
          font-weight: 500;
      }
      .nav-links ul li:hover::after {
      width: 0%;
      transition: 1s;
     }
      .fa-bars {
          margin-top: 18px;
      }
  }
  
  
  /* ====   STAMPILE PAGE ====  */
  
  @media(max-width:750px) {
      .nav-stampile a {
          font-size: 1.5rem;
      }
  }
  
  @media(max-width:400px) {
      .nav-stampile a {
          font-size: 1rem;
      }
  }
  
  /* ==== CONTACTATI-NE PAGE ==== */
  
  @media(max-width:850px) {
    .contact-box1 h2 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
  }
  
      .contact-div {
          width: 70%;
          
      }
  
  .contact-box1 a {
      font-size: 1rem;
  }
  
  .contact-paragraph {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
  }
  }
  
  @media(max-width:650px) {
    .contact-box1 h2 {
      font-size: 1rem;
      margin-bottom: 1rem;
  }
   
  
  .contact-box1 a {
      font-size: 0.7rem;
  }
  
  .contact-paragraph {
      margin-top: 1rem;
      margin-bottom: 1rem;
  }
      .contact-div {
          width: 90%;
      }
      .contact-info__map {
          height: 130%;
          width: 100%
          
      }
  }
  
  
  @media(max-width:450px) {
    .contact-box1 h2 {
      font-size: 1rem;
      margin-bottom: 0.75rem;
  }
   
  
  .contact-box1 a {
      font-size: 0.9rem;
  }
  
  .contact-paragraph {
      margin-top: .5rem;
      margin-bottom: 0.9rem;
  }
      .contact-div {
          width: 90%;
          
      }
      .contact-info__map {
          height: 140%;
          width: 100%
          
      }
  }
  